/*Stylesheet reset*/
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica;
}

/*Header section*/
.header {
    background-image: url("../img/pattern.jpeg");
    height: 150px;
    margin: 30px 10px;
}

.heading {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
}

/*Main section*/
.main {
    margin: 0 10px 0;
}

.main h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    padding: 5px 2px;
    margin-bottom: 20px;
}

.main h3 {
    margin: 10px 0;
}

.main p {
    margin-bottom: 20px;
}

main .blue-text {
    font-weight: bold;
    color: blue;
}

/*Brushes*/
.brushes-heading {
    background-color: mediumspringgreen;
}

/*Frames*/
.frames-heading {
    background-color: lightcoral;
}

/*Paint*/
.paint-heading {
    background-color: skyblue;
}

/*Media Queries*/
@media screen and (min-width: 480px) {
    .heading {
        font-size: 75px;
    }
  }